@{
    ViewData["Title"] = "Podcasts";
}
<h1>@ViewData["Title"]</h1>
<br />
<div class="text-center">
    <p>Follow this link to check out the podcasts</p>
    <br />
    <a href="https://baconsale.com/">The Bacon Sale Podcast</a>
</div>
